# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
dist/

# Datasets / ML files
garbage-dataset/
garbage-classification.zip
scraped/
datasets/
*.csv
*.zip

# ML models
*.pkl
*.pt
*.pth
*.h5
*.keras

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
